footer {
    width: 100%;
}

footer div {
    padding: 10px;
}

footer div li,
footer div p {
    padding: 5px;
}

footer .social-media-icon-container span i {
    padding: 0 5px;
    color: var(--color-white);
}

footer .logo-octopus-img {
    width: 80px;
}


/* 
------------
 Class Selectors
------------
*/
.primary-footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 10px;
    text-align: center;
} 

.secondary-footer {
    background-color: var(--color-dark-black);
    color: var(--color-white);
    padding: 20px 0;
    text-align: center;
}

.map,
.fb-page {
    display: none;
}


/* 
------------
 ID Queries
------------
*/


/* 
------------
 Media Queries
------------
*/
@media screen and (min-width: 600px) {
    .primary-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }

    .social-media-icon-container {
        display: none;
    }

    .fb-page {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .primary-footer {
        display: flex;
        justify-content: center;
    }

    .primary-footer img {
        width: 250px;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
    }

    .footer-column {
        display: flex;
        flex-direction: row;
    }

    .information {
        display: flex;
        flex-direction: column;
    }

    .map {
        display: block;
        padding-top: 0;
    }

    .social-media-icons {
        display: none;
    }

    .fb-page {
        display: block;
    }

}