header {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

/* 
------------
 Class Selectors
------------
*/
.main-header {
    position: relative;
    padding: 0 20px;
    box-shadow: var(--box-shadow);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 150px;
    padding: 10px 0;
}

.btn {
    display: block;
    border: none;
	background-color: transparent;
    padding-right: 12px;
}

.btn i {
    color: var(--color-red);
}

.nav-li,
.fb-page,
#cta {
    display: none;
}

/* 
------------
 Media Queries
------------
*/
@media screen and (min-width: 1200px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn {
        display: none;
    }

    .nav-ul {
        display: flex;
        align-items: baseline;
    }

    .nav-li {
        display: flex;
        padding: 10px 15px;
    }

    .nav-link {
        color: var(--color-brown);
    }

    .nav-link:hover {
        color: var(--color-yellow);
    }

    #cta {
        display: flex;
        padding: 10px 20px;
        margin-right: 15px;
        border: none;
    }

    #cta > a {
        color: var(--color-white);
    }

}