blockquote {
    background-color: var(--color-light-yellow);
    padding: 30px 10px;
}


/* 
------------
 Class Selectors
------------
*/
.lorem-section {
    padding: 30px 20px;
}

.lorem-article {
    padding: 20px 0;
}

.example_content_image {
    float: left;
    margin: 10px 30px 5px 5px;
    padding: 10px;
    border: solid 2px var(--color-brown);
}

/* Customize table */
.data {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.data th, 
.data td {
    border: 1px solid var(--color-black);
    color: var(--color-white);
    padding: 10px;
}

.data th {
    font-weight: 900;
    background-color: var(--color-brown);
}


/* Customize bullet points */
.lorem-unordered-list ul,
.lorem-ordered-list ol {
    margin: 20px 0 0 25px;
    line-height: 1.25;
}

.lorem-unordered-list ul {
    list-style-type: square;
}

.lorem-ordered-list ol {
    list-style-type: circle;
}



/* 
------------
 Id Selectors
------------
*/
#lorem-body > h2, h3, h4, h5, h6 {
    padding: 8px 0;
}

#lorem-body p {
    line-height: 1.5;
}

#strong {
    font-weight: 900;
}

/* Customize table */
#data-line-2 {
    background-color: var( --color-red);
}

#data-line-3 {
    background-color: var( --color-yellow);
}

#data-line-4 {
    background-color: var( --color-green);
}



/* Links pseudoclassed with hover effects */
#external-ext {
    color: var(--color-red);
}

#external-ext:hover {
    background-color: var(--color-yellow);
}