hr {
    width: 10%;
    height: 3px;
    background-color: var(--color-dark-brown);
    margin: 10% auto;
}

/* 
------------
 Class Selectors
------------
*/
/* Date */
.order-section {
    padding: 20px; 
}

.order-date-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    line-height: 1.5;
}

.order-date-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0;
}

.order-date-container label {
    padding-bottom: 5px;
}

.order-date-container input {
    cursor: pointer;
}

/* Delivery */
.order-delivery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-delivery-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-red);
    border: 1px solid var(--color-brown);
    padding: 10px 30px;
    margin: 0 4px;
    cursor: pointer;
}

.order-delivery-btn i, 
.order-delivery-btn {
    color: var(--color-white);
}

.order-delivery-btn i {
    padding-right: 8px;
}

.order-delivery-btn:hover {
    background-color: var(--color-yellow);
}

.order-delivery-btn:active {
    transform: var(--transform);
}

.order-delivery-search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-delivery-search-container span {
    padding: 0 20px; 
    cursor: pointer;
}

/* Summary */
.order-summary-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}

.order-summary-left-box span {
    padding: 0 10px;
}

.order-summary-left-box {
    padding: 10px 0;
}

.order-summary-left-box span {
    font-size: 1.15rem;
}

.second, .third {
    padding-left: 15%;
}

.order-summary-comments {
    color: var(--color-grey);
}

.order-summary-remove {
    padding-right: 5px;
    margin-right: 5px;
}

.order-summary-link {
    color: var(--color-black);
    font-weight: 300;
    font-size: 0.95rem;
}

.order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

/* Submit order */
.order-article h4 {
    border-bottom: 2px solid var(--color-light-brown);
    margin: 20px 0;
}

.payment-date {
    display: flex;
    flex-direction: column;
}

.payment-select-container {
    display: flex;
    flex-direction: row;
}

.payment-select-container select {
    padding: 10px;
    margin: 5px 0 15px;
}

.total-amount-article {
    background-color: var(--color-yellow);
    padding: 10px 15px;
}

.order-total-amount-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-agree-fieldset {
    padding: 15px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}


/* 
------------
 Id Selectors
------------
*/
#order-date {
    padding: 10px;
}

#search-btn {
    width: 100%;
    max-width: 300px;
}

#delivery-active {
    background-color: var(--color-yellow);
}

/* Form */
#order-form,
#order-tip-form {
    background-color: var(--color-light-yellow);
    padding: 20px 10px;
    margin-top: 20px;
}

#order-form input,
#amount {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0 15px;
}

#order-form textarea,
#order-tip-form textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
}

/*order summary */
#order-dates a {
    color: var(--color-red);
}

#order-summary-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-summary-number {
    background-color: var(--color-light-yellow);
    padding: 10px;
}

#order-summary-menu-name {
    margin: 0 10px; 
}

#order-short-form {
    display: flex;
    padding: 3%;
    background: var(--color-light-yellow);
}

#order-short-form fieldset {
    padding: 10px; 
    font-size: 1.15rem;
}

#order-checkout-btn {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

#order-checkout-btn a {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
}

#order-cancel {
    padding-right: 20px;
}

#order-cancel a {
    color: var(--color-black);
    font-weight: 400;
    font-size: 1.15rem;
}

/* Submit order */
#order-contact-info-form {
    background-color: var(--color-light-yellow);
    padding: 10px;
}

#payment-date {
    color: var(--color-grey);
}

#order-submit-btn {
    width: 100%;
    max-width: 150px;
    padding: 10px;
}

#order-submit-btn a {
    color: var(--color-white);
}


/* 
------------
 Media Queries 
------------
*/
@media screen and (min-width: 600px) {
    .order-date-article,
    .order-section h3, 
    .order-section p {
        text-align: center;
    }
        
    .first, .second, .third {
        padding-left: 7%;
    }

    #order-short-form {
        display: flex;
        padding: 5% 13%;
    }
    
    .order-total-amount-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
    }
    

}

@media screen and (min-width: 1200px) {
    #order-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .order-delivery-search-container {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }
    
    #order-tip-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}